@use './styles/radio-button';
@use './styles/checkbox';
@use './styles/custom-input';

/* You can add global styles to this file, and also import other style files */
html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    user-select: none;
}

body {
    margin: 0;
}


* {
    box-sizing: border-box;
}


a {
    color: inherit;
}


@include radio-button.theme();
@include checkbox.theme();
@include custom-input.theme();