<!-- <button strokedButton style="float: right; margin: 10px;" (click)="onClick()">{{buttonLabel}}</button>

<icon fill>star</icon>
<br>
<br>

<radio-group [(ngModel)]="favoriteSeason">
    @for (season of seasons; track season) {
    <radio-button [value]="season">{{season}}</radio-button>
    }
</radio-group>
<br>
<div>Your favorite season is: {{favoriteSeason}}</div>

<br>

<checkbox [(ngModel)]="checked">Hello</checkbox>
<br>
<div>Checked: {{checked}}</div>

<br>

<div class="button-container">
    <button basicButton>Basic</button>
    <button raisedButton>Raised</button>
    <button strokedButton>Stroked</button>
    <button flatButton>Flat</button>
    <button iconButton>
        <icon fill>star</icon>
    </button>
</div>


<divider />
<br>

<form-field>
    <input #myInput="datePicker" inputField datePicker [(ngModel)]="myDate">
    <form-field-label>Choose a date</form-field-label>
    <form-field-hint>MM/DD/YYYY</form-field-hint>
    <button iconButton suffix (click)="myInput.toggleCalendar()">
        <icon fill>calendar_month</icon>
    </button>
</form-field>

<br>
<button flatButton (click)="openDialog()">Open Dialog</button>


<br>
<br>
<br>

<form-field>
    <form-field-label>Your state</form-field-label>
    <dropdown [(ngModel)]="selectedValue">
        <dropdown-item>None</dropdown-item>
        @for (state of states; track state) {
        <dropdown-item [value]="state">{{state}}</dropdown-item>
        }
    </dropdown>
</form-field>

<div>Your state is: {{selectedValue}}</div>

<br> -->


<button #myButton flatButton
    (click)="myMenu.isOpen? myMenu.close(): myMenu.open(myButton)">Menu</button>


<menu #myMenu>
    <button menuItem disabled>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <icon fill>star</icon>
        fasdf
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenu">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenu>
    <button menuItem>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <button menuItem>
        <span>Item 2</span>
    </button>

    <divider />

    <button menuItem><span>Item 3</span></button>
    <button menuItem [submenu]="submenu2">
        <span>Item 4</span>
    </button>
</menu>


<menu #submenu2>
    <button menuItem>
        <icon fill>home</icon>
        <span>Item 1</span>
        <span suffix>Ctrl+N</span>
    </button>

    <!-- <button menuItem>
        <icon fill>star</icon>
        <span>Item 2</span>
    </button>

    <button menuItem><span>Item 3</span></button> -->
</menu>