@use 'sass:map';
@use './utility';


@mixin theme($palette, $theme-type) {
    $background-color: #{
        map.get(
            map.get($palette, neutral),
            utility.get-color-key($theme-type, 99, 10)
        )
    };

    $text-color: #{
        map.get(
            map.get($palette, neutral),
            utility.get-color-key($theme-type, 10, 90)
        )
    };

    background-color: $background-color;
    color: $text-color;
}