@use 'sass:map';
@use './utility';


@mixin theme($palette, $theme-type) {
    $background-color: utility.get-color($palette, $theme-type, (color-keys: (light: 99, dark: 10), color-map: neutral));
    $text-color: utility.get-color($palette, $theme-type, (color-keys: (light: 10, dark: 90), color-map: neutral));

    background-color: $background-color;
    color: $text-color;
}