@use 'sass:map';


@mixin theme($palette, $theme-type) {
    $background-color: if($theme-type == 'light', 99, 10);
    $text-color: if($theme-type == 'light', 10, 90);

    :root {
        --app-background-color: #{map.get(map.get($palette, neutral), $background-color)};
        --app-text-color: #{map.get(map.get($palette, neutral), $text-color)};
    }

    .app-background {
        background-color: var(--app-background-color, transparent);
        color: var(--app-text-color, inherit);
    }
}