@use 'sass:map';

@mixin color-theme($palette, $class, $theme-type) {
    $checkbox: if($theme-type == 'light', 40, 80);
    $checkmark: if($theme-type == 'light', 100, 20);

    .#{$class} {
        --checkbox-selected-color: #{map.get($palette, $checkbox)};
        --checkbox-selected-checkmark-color: #{map.get($palette, $checkmark)};
    }
}


@mixin theme($primary-palette, $secondary-palette, $theme-type) {
    @include color-theme($primary-palette, 'primary-checkbox-color', $theme-type);
    @include color-theme($secondary-palette, 'secondary-checkbox-color', $theme-type);
}