.icon-button {
    background: none;
    min-width: initial;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;

    &:hover:not(:disabled):before {
        background-color: var(--icon-button-hover-color);
    }

    &:active:not(:disabled):before {
        background-color: var(--icon-button-active-color);
    }

    &:disabled {
        background: none;
    }
}