@use 'sass:map';
@use './utility';


@mixin theme($palette, $theme-type) {
    --icon-button-hover-color: #{utility.get-color($palette, $theme-type, (color-keys: (light: 10, dark: 90), color-map: neutral, opacity: 0.08))};
    --icon-button-active-color: #{utility.get-color($palette, $theme-type, (color-keys: (light: 10, dark: 90), color-map: neutral, opacity: 0.2))};
    --icon-button-focus-color: #{utility.get-color($palette, $theme-type, (color-keys: (light: 10, dark: 90), color-map: neutral, opacity: 0.12))};
}