.input-field {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: var(--form-field-input-text-color);
    caret-color: var(--form-field-caret-color);
}