.menu-item {
    display: flex;
    height: 26px;
    outline: none;
    border: none;
    align-items: center;
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
    background: transparent;
    // padding-left: 26px;
    color: var(--menu-item-text-color);

    &:hover {
        background: var(--menu-item-hover-background-color);
        color: var(--menu-item-hover-text-color);
    }

    icon {
        margin-right: 8px;
    }

    &>:not(icon):first-child {
        padding-left: 32px;
    }
}