.menu {
    divider {
        margin: 8px 0;
    }

    &:has(.menu-item icon) {
        .menu-item:not(:has(icon)) *:not(svg) {
            padding-left: 32px;
        }
    }
}


.menu-item {
    display: flex;
    height: 30px;
    outline: none;
    border: none;
    align-items: center;
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
    background: transparent;
    color: var(--menu-item-text-color);
    padding: 0 16px;

    &:hover {
        background: var(--menu-item-hover-background-color);
        color: var(--menu-item-hover-text-color);

        icon {
            color: var(--menu-item-hover-text-color);
        }
    }

    icon {
        margin-right: 8px;
        color: var(--menu-item-icon-color);
    }

    [suffix] {
        margin-left: auto;
    }
}

.submenu-icon {
    width: 24px;
    height: 10px;
    fill: currentColor;
    margin-left: auto;
    margin-right: -10px;
}