@use 'sass:map';

@mixin color-theme($palette, $class, $theme-type) {
    $value: if($theme-type == 'light', 40, 80);

    .#{$class} {
        --radio-selected-checkmark-color: #{map.get($palette, $value)};
        --radio-selected-color: #{map.get($palette, $value)};
    }
}


@mixin theme($primary-palette, $secondary-palette, $theme-type) {
    @include color-theme($primary-palette, 'primary-radio-color', $theme-type);
    @include color-theme($secondary-palette, 'secondary-radio-color', $theme-type);
}