html,
body {
    height: 100%;
}

html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    user-select: none;
}

body {
    // margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}


* {
    box-sizing: border-box;
}


a {
    color: inherit;
}