@use 'sass:map';
@use './radio-button';
@use './checkbox';
@use './custom-input';
@use './app';


@mixin theme($theme) {
    $theme-type: map.get($theme, theme-type);
    $primary-palette: map.get($theme, primary);
    $secondary-palette: map.get($theme, secondary);
    $theme-name: map.get($theme, theme-name);

    .#{$theme-name} {
        @include app.theme($primary-palette, $theme-type);
        @include custom-input.theme($primary-palette, $secondary-palette, $theme-type);
        @include radio-button.theme($primary-palette, $secondary-palette, $theme-type);
        @include checkbox.theme($primary-palette, $secondary-palette, $theme-type);
    }
}