@use 'sass:map';
@use './app-theme' as app;
@use './radio-button-theme' as radio-button;
@use './checkbox-theme' as checkbox;
@use './custom-input-theme' as custom-input;
@use './icon-theme' as icon;
@use './button-theme' as button;
@use './divider-theme' as divider;
@use './form-field-theme' as form-field;

@mixin theme($theme) {
    $theme-name: map.get($theme, theme-name);
    $palettes: map.get($theme, palettes);
    $theme-type: map.get($theme, theme-type);

    .#{$theme-name} {
        @include app.theme(map.get($palettes, primary), $theme-type);
        @include custom-input.theme($palettes, $theme-type);
        @include radio-button.theme($palettes, $theme-type);
        @include checkbox.theme($palettes, $theme-type);
        @include icon.theme($palettes, $theme-type);
        @include button.theme($palettes, $theme-type);
        @include divider.theme(map.get($palettes, primary), $theme-type);
        @include form-field.theme($palettes, $theme-type);
    }
}